.tab {
overflow: hidden;
border: 1px solid #ccc !important;
background-color: #f1f1f1 !important;
} .tab button {
color:#38748C !important;
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer; transition: 0.3s;
font-size: 17px;
} .tab button:hover {
background-color: #ddd;
} .tab button.active {
background-color: #ccc;
} .tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
.tabcontent {
-webkit-animation: fadeEffect 1s;
animation: fadeEffect 1s;
} @-webkit-keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}
@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}
#preview-container {
margin-top: 20px;
margin-bottom: 20px;
width:300px;
height:300px;
background:#ebe8e8;
border-radius:10px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#preview-image {
max-width: 300px;
max-height: 300px;
}
input[type=file]::file-selector-button {
margin-right: 20px;
border: none;
background: #38748C;
padding: 10px 20px;
border-radius: 10px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover {
background: #0c4359;
}
.file-block {
width: 300px;
max-width: 100%;
padding: 5px;
border-radius: 10px;
border: 1px solid #9e9d9d;
}
.preview-image{
width:100%;
height:100%;
border-radius:10px;
}
#upload-form{
display:flex;
flex-direction:column;
}
.image-container{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.publish-btn{
margin:10px 5px 0px 5px;
color:white !important;
background: #38748C !important;
}
.publish-btn:hover{
background: #0c4359 !important;
}
.input-item{
margin-bottom:10px;
display: inline-block;
}
fieldset {
border-color:#f1f1f1 !important;
}
.editable-input {
border: 1px solid #ccc;
padding: 5px;
width:90px;
}
.page-round{
font-weight: 500;
text-align: center;
display: inline-block;
border-radius:100%;
box-shadow: 0px 2px 6px 0px rgba(29,33,40,.16);
width: 44px;
height: 44px;
border:none;
font-size:20px; 
padding:5px;
}
.page-round:hover{
cursor:pointer;
background-color:#3d3d3d;
color:white;
}
.page-round.disabled{
background-color:#ebebeb;
}
.nav-bottom{
display:flex;
justify-content:center;
align-items:center;
}
.card:hover{
cursor:pointer;
box-shadow: 2px 6px 6px 4px rgba(29,33,40,.16);
transition: box-shadow 0.3s ease;
}
.email_send_btn{
font-size:20px;
border-radius:50%;
color:#0e6f72;
}
.email_send_btn:hover{
color:#eb6864;
}
.c-d-flex{
display:flex;
}
#send-comment-search{
color:#0e6f72;
}
#send-comment-search:hover{
cursor:pointer;
text-decoration: underline;
}
.custom-store-list-input{
border:1px solid #ebebeb!important;
position:relative!important;
}
.custom-store-list-input input[type=text]{
height:40px;
padding:3px 10px!important;
}
.custom-store-list-input ul{
position:absolute;
width:100%;
z-index:1000;
top: 40px;
left: 0;
background-color:white;
list-style-type:none;
padding:10px 0px!important;
box-shadow: 2px 6px 6px 4px rgba(29,33,40,.16);
transition: box-shadow 0.3s ease;
}
.custom-store-list-input ul li:hover{
cursor:pointer;
color:white;
background-color:#34ABDB;
}
.custom-store-list-input ul li{
padding:0px 10px!important;
}
.custom-loader {
border: 4px solid #f3f3f3;
border-radius: 50%;
border-top: 4px solid #38748C;
width: 30px;
height: 30px;
-webkit-animation: custom-spin 2s linear infinite; animation: custom-spin 2s linear infinite;
} @-webkit-keyframes custom-spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
@keyframes custom-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}         .custom-product-list-input{
border:1px solid #ebebeb!important;
position:relative!important;
}
.custom-product-list-input input[type=text]{
height:40px;
padding:3px 10px!important;
}
.custom-product-list-input ul{
position:absolute;
width:100%;
z-index:1000;
top: 40px;
left: 0;
background-color:white;
list-style-type:none;
padding:10px 0px!important;
box-shadow: 2px 6px 6px 4px rgba(29,33,40,.16);
transition: box-shadow 0.3s ease;
}
.custom-product-list-input ul li:hover{
cursor:pointer;
color:white;
background-color:#34ABDB;
}
.custom-product-list-input ul li{
padding:0px 10px!important;
}
.ads-image-deal{
width:100%;
height:100%;
object-fit:cover;
object-position:50%; } .register-custom-store{
position:relative!important;
}
.register-custom-store input[type=text]{  }
.register-custom-store ul{
position:absolute;
width:100%;
z-index:1000;
top: 75px;
left: 0;
background-color:white;
list-style-type:none;
padding:10px 0px!important;
box-shadow: 2px 6px 6px 4px rgba(29,33,40,.16);
transition: box-shadow 0.3s ease;
}
.register-custom-store ul li:hover{
cursor:pointer;
color:white;
background-color:#34ABDB;
}
.register-custom-store ul li{
padding:0px 10px!important;
}
.term-link{
font-size:12px;
}
.term-link > a:hover{
text-decoration:underline;
color:rgb(4, 142, 201);
} .wrap-collabsible input[type="checkbox"] {
display: none;
}
.wrap-collabsible { }
.lbl-toggle {
display: block;
font-weight: bold;
font-size: 1rem;
text-transform: uppercase;
text-align: center;
padding: 0.5rem 1rem;
color: #ddd;
background: rgb(52, 171, 219);
cursor: pointer;
transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
color: #fff;
}
.lbl-toggle::before {
content: " ";
display: inline-block;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid currentColor;
vertical-align: middle;
margin-right: 0.7rem;
transform: translateY(-2px);
transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
max-height: 0px;
overflow: hidden;
transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
max-height: 350px;
}
.toggle:checked + .lbl-toggle {
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
background: rgba(0, 105, 255, 0.2);
border-bottom: 1px solid rgba(0, 105, 255, 0.45);
padding: 0.5rem 1rem;
}
.collapsible-content p {
margin-bottom: 0;
} .loader {
display:none;
background: white;
background: radial-gradient(rgba(34, 34, 34, 0.5), rgba(0, 0, 0, 0.5));
bottom: 0;
left: 0;
overflow: hidden;
position: fixed;
right: 0;
top: 0;
z-index: 99999;
}
.loader-inner {
bottom: 0;
height: 60px;
left: 0;
margin: auto;
position: absolute;
right: 0;
top: 0;
width: 100px;
}
.loader-line-wrap {
animation: 
spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
box-sizing: border-box;
height: 50px;
left: 0;
overflow: hidden;
position: absolute;
top: 0;
transform-origin: 50% 100%;
width: 100px;
}
.loader-line {
border: 4px solid transparent;
border-radius: 100%;
box-sizing: border-box;
height: 100px;
left: 0;
margin: 0 auto;
position: absolute;
right: 0;
top: 0;
width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
.loader-line-wrap:nth-child(1) .loader-line {
border-color: hsl(0, 80%, 60%);
height: 90px;
width: 90px;
top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
border-color: hsl(60, 80%, 60%);
height: 76px;
width: 76px;
top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
border-color: hsl(120, 80%, 60%);
height: 62px;
width: 62px;
top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
border-color: hsl(180, 80%, 60%);
height: 48px;
width: 48px;
top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
border-color: hsl(240, 80%, 60%);
height: 34px;
width: 34px;
top: 35px;
}
@keyframes spin {
0%, 15% {
transform: rotate(0);
}
100% {
transform: rotate(360deg);
}
}                                                                                                                                                                                        .offscreen-panel{
z-index:10000!important;
}