/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#status:checked + .slider {
  background-color: #2196F3;
}

#status:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#status:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.set-fee-form{
    display:flex;
    flex-direction:row;
    align-items:center;
    line-height:13px;
    
}

.present-fee-form{
    display:flex;
    flex-direction:row;
    align-items:center;
    line-height:13px;
}

.fee-item{
    margin:10px 5px;
}




/*Non- Compliant Admin Page CSS*/
.manage_products_wrapper{
    border: 1px solid #c8d7e1;
    display: flex;
    padding: 20px;
    position: relative;
    background: #fff;
    padding-bottom: 100px;
    scroll-margin-top: 65px;
}

#treeview {
    min-height: 800px;
}

/*.options {*/
/*  padding: 20px;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  width: 260px;*/
/*  top: 0;*/
/*  background-color: #dddddd;*/
/*}*/

/*.caption {*/
/*  font-size: 18px;*/
/*  font-weight: 500;*/
/*}*/

/*.option {*/
/*  margin-top: 10px;*/
/*}*/

/*.option > .dx-selectbox {*/
/*  display: inline-block;*/
/*  vertical-align: middle;*/
/*  max-width: 350px;*/
/*  width: 100%;*/
/*  margin-top: 5px;*/
/*}*/
.data-viewport{
    display:flex;
    flex-direction:column;
    overflow-x: auto;
}
.table-content{
    width:85%;
}

.rag-red {
    background-color: #CC222244;
}
.rag-green {
    background-color: #33CC3344;
}
#c_side_panel{
    display:flex;
    flex-direction:column;
    width:15%;
    padding:0px 20px 0px 0px;
}
